@import "tailwindcss";

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Sono", monospace;
}

a,
button {
  cursor: pointer;
}

@font-face {
  font-family: "Sono";
  font-style: normal;
  font-weight: 200 800;
  src: url("/fonts/Sono/Sono-VariableFont_MONO,wght.ttf");
}

:root {
  /* Dot-grid settings */
  --grid-size: 1rem;
  --grid-dot-size: 1px;
  --grid-dot-color: oklch(0.78 0.012 286);
  --grid-background: oklch(0.9291 0.0054 286.3);

  /* Application colours */
  --color-primary: oklch(28.35% 0.049 271.5); /* #212842 */
  --color-background: oklch(92.91% 0.0054 286.3); /* #e7e7eb */
  --color-sidebar: oklch(90.9% 0.006 286.3); /* #e0e0e5 */

  --color-card: oklch(0.9677 0.0027 286.35); /* #f4f4f6 */
  --color-card-hover: oklch(0.945 0.0035 286.35); /* #ececef */

  --color-do: var(--color-do);
  --color-do-hover: var(--color-do-hover);

  --color-input: oklch(0.956 0.004 286.32); /* #f0f0f3 */
  --color-border: oklch(0.8655 0.0082 286.23); /* #d2d2d8 */
  --color-text: oklch(0.2152 0.0078 285.73); /* #19191d */
  --color-text-muted: oklch(0.5479 0.0123 285.99); /* #707078 */

  --color-danger: oklch(55% 0.19 25); /* #c92f33 */
  --color-danger-hover: oklch(49% 0.19 25); /* #b31220 */
  --color-danger-background: oklch(94% 0.045 25); /* #ffe0dc */
  --color-danger-border: oklch(82% 0.09 25); /* #f9aea7 */
}

@theme {
  --color-primary: var(--color-primary);
  --color-background: var(--color-background);
  --color-sidebar: var(--color-sidebar);

  --color-card: var(--color-card);
  --color-card-hover: var(--color-card-hover);

  --color-do: var(--color-do);
  --color-do-hover: var(--color-do-hover);

  --color-input: var(--color-input);
  --color-border: var(--color-border);
  --color-text: var(--color-text);
  --color-text-muted: var(--color-text-muted);

  --color-danger: var(--color-danger);
  --color-danger-hover: var(--color-danger-hover);
  --color-danger-background: var(--color-danger-background);
  --color-danger-border: var(--color-danger-border);
}

.dot-grid {
  background-color: var(--grid-background);

  background-image: radial-gradient(
    circle,
    var(--grid-dot-color) var(--grid-dot-size),
    transparent var(--grid-dot-size)
  );

  background-size: var(--grid-size) var(--grid-size);
  background-position: calc(var(--grid-size) / 2) calc(var(--grid-size) / 2);
}
